@import "normalize";
@import "variable";

html {
  font-family: $main-font;
}

.heading {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../dist/img/immageForBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: /*grayscale(20%)*/
            opacity(1) brightness(50%) contrast(126%);
    -webkit-filter: grayscale(50%) opacity(1) brightness(70%) contrast(126%);
    border-bottom: 50px solid aquamarine;
    border-bottom-left-radius: 40%;

  }

  &-nav_bar {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 1200px;

    &-item {
      padding: 15px 20px;

      & a {
        text-decoration: none;
        color: white;
        font-family: $main-font;
        font-weight: 700;
        font-size: 19px;
        line-height: 120%;
      }
    }
  }

  &-contact {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;

    &-name {
      color: $main-page-color;
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 0;
    }

    &-position {
      margin-top: 0;
      color: $main-page-color;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
    }

    &-button {
      font-family: $main-font;
      text-decoration: none;
      font-weight: 700;
      font-size: 19px;
      line-height: 120%;
      padding: 0.6em 4em;
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 6;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      &::before {
        content: "";
        background: linear-gradient(
                        45deg,
                        rgba(0, 0, 0, 0.04),
                        rgba(0, 0, 0, 0.28),
                        rgba(236, 235, 235, 0.18),
                        rgba(0, 0, 0, 0.93),
                        rgba(224, 224, 224, 0.29),
                        rgba(255, 0, 0, 0.55)
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 10px);
        height: calc(100% + 6px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
        backdrop-filter: blur(15px);
      }

      @keyframes glowing-button-85 {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }

      &after {
        z-index: 4;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        left: 0;
        top: 0;
        border-radius: 10px;
      }
    }
  }
}

.stack {
  background-image: url(../../dist/img/my.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 30px;
  background-color: #656565;
  height: 100vh;

  &-wrapper {
    max-width: 90%;
    margin: 10vh auto;
  }

  &-container {
    float: right;
    margin-right: 5%;
    text-align: end;
    width: 30%;

    &-heading {
      font-family: $main-font;
      font-weight: 700;
      font-size: 33px;
    }

    &-disc {

    }
  }

  &-visual {
    display: flex;
    width: 100%;

    //justify-content: center;
    &-me {
      position: relative;
      display: flex;
      justify-content: flex-end;
      transform: translateX(50%);
      //box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
      & img {
        width: 400px;
        height: 400px;
        object-fit: contain;
        //border-radius: 70%;


      }

    }

    &-round {
      position: relative;
      display: flex;
      width: 30%;


      & span {
        position: absolute;
        inset: 20px;
        justify-content: center;
        transform: rotate(calc(30deg * var(--i)));

        & img {
          width: 50px;
          height: 50px;
          transform: rotate(calc(-30deg * var(--i)));
        }

      }
    }
  }
}

.experience {
  background-color: #E5E5E5;
  height: 100vh;
  min-height: 950px;

  &-heading {
    text-align: center;
    margin-top: 0;
    padding-top: 40px;

  }

  &-container {
    position: relative;
    width: 75%;
    margin: 0 auto;

    &-hairhouse {
      //position: absolute;
      top: 20%;
      width: 30%;

      &-heading {

      }

      &-text {

      }
    }

    &-backstage {
      position: absolute;
      right: 0;
      width: 30%;
      top: 30%;

      img {
        object-fit: contain;
        width: 50%;
      }

      &-heading {

      }

      &-text {

      }
    }

    &-dan_IT {
      width: 30%;
      position: absolute;
      top: 120%;

      img {
        width: 50%;
      }

      &-heading {

      }

      &-text {

      }
    }
  }
}

.clock {
  font-family: $main-font;
  position: absolute;
  right: 5%;
  width: 250px;
  height: 250px;
  /*margin: 20vh auto;*/
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {

}

.clock div {
  display: inline;
  position: absolute;
  color: #fff;
  inset: 20px;
  transform: rotate(calc(30deg * var(--i)));
}

.clock div span {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.clock::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  /*border:1px solid white;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;

}

.arrow {
  position: absolute;

  width: 65%;
  height: 70%;
  /*border: 1px solid white;*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.arrow2 {
  width: 60%;
  height: 65%;
}

.arrow3 {
  width: 50%;
  height: 45%;
}

.circle {
  height: 93%;
  width: 93%;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 50%;
}

.arrow i {
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: white;
  /*transform: translateX(50%);*/
  border-radius: 50%;
}

.calc {
  margin: 0;
  width: 80%;
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../dist/img/4K-Programming-Wallpaper-HD.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
    filter: /*grayscale(20%)*/
            opacity(1) brightness(50%) contrast(126%);
    -webkit-filter: grayscale(50%) opacity(1) brightness(20%) contrast(126%);


  }
}
.calculator {
  width: 400px;
  /*border: 1px solid black;*/
  height: 60vh;
  align-items: center;
  //margin: 10vh auto;
  filter: none;
  position: absolute;
  top:50%;
  right: 0;
  transform: translate(0, -50%);
}

.calculator-display {

  height: 15%;
  width: 95%;
  border: 1px solid rgba(255, 255, 255, 0.66);
  border-radius: 20px;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;


}

.calculator-keyboard {
  width: 95%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px auto;
  grid-gap: 3%;


}

.calculator-keyboard-button {
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.66);
  border-radius: 20%;
  font-size: 25px;
  cursor: pointer;
}